# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
pip-log.txt

# Datos sensibles
*.env
*.secret
data/local_*.db  # Excluye bases de datos locales (excepto las de ejemplo)

# Streamlit
.streamlit/

# IDE/Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Build y distribuciones
build/
dist/
*.egg-info/